@charset "utf-8";

body { background-color: #5CDB95;
	  font-family: "Verdana", Geneva, sans-serif;
	  margin: 0;
	  color: #EDF5D1;
overflow-x:hidden;
 }
.nav {
	width: 100%;
	position: sticky;
    top: 0;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #05386B;
	width: 100%;
	background-color: #8EE4AF;
	display: block;
	height: 55px;
}

a:link {
	color: #05386B;
}
.nav a {
	float: left;
	padding: 1% 5% 1% 5%;
	text-decoration: none;
}
.nav a:hover {
	background-color: #74a38c;
}
button, .boop {
	color: #05386B;
	font-size: 15px;
	border: none;
	outline: none;
	padding: 10px 15px 9px 25px;
	margin: 0;
	background-color: #8EE4AF;
}
.boop {
	float: right;
	overflow: hidden;
}
.boop:hover .secret {
	display: block;
}
.secret {
	top: 53px;
	display: none;
	position: absolute;
	background-color: #91FFEF;
	z-index: 1;
	padding: 5px 15px;
	float: left;
}
.secret a {
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	display: block;
}
.pic {
	height: 25px;
	padding: 0px 0px 0px 0px;
}
.content {
	float: bottom;
	height: 500px;
	margin-top:20px;
	padding-top: 20px;
	width: 100%;
	line-height: 30px;
	background-color:#379683 ;
	
}
.ilovepe {
	width: 100%;
	text-align: center;
}
.jumbo {
	text-align: center;
	color: #EDF5D1;
	font-size: 150px;
	font-weight: bold;
	width: auto;
}
.desc {
	text-align: center;
	color: #EDF5D1;
	font-size: 40px;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
}
.content {
	float: bottom;
	height: 500px;
	margin-top: 20px;
	padding-top: 20px;
	width: 100%;
	line-height: 35px;
	background-color:#379683;
}

.about {
	float: left;
	height: 415px;
	width: 40%;
	margin-left: 5%;
	font-size: 27px;
	color: #EDF5D1;
	text-align: left;
	padding-top: 20px;
	font-family: 'Amiko';
	overflow: hidden;
}

.aboutimg{
	float: right;
	height: 430px;
  	width: 49%;
}
#image{object-fit: contain;width: 100%;height:100%;}
#icon{object-fit: contain;width: 100%;}
#logo{object-fit:contain;height:100%;}
footer{
	position: relative;
	bottom: 0;
    height: 150px;
    width: 100%;
    padding-left: 0.15%;
    padding-right: 0.15%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 40px;
    background-color: #314269;

}
.footertitle{
	width: 50%;
	height: 35px;
	margin: auto;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: #EDF5D1;

}
.ficontainer{
	
	
	margin: auto;
	width: 70%;
	height: 50px;
	padding: 20px;
	
	
}
.ficon{
	
	
	margin: auto;
	width: 4%;
	height: 0;
    padding-bottom: 4%;
	border-radius: 100%;
	margin-left: 16%;
	float: left;
	
	
}
.ficon2{

	
	width: 4%;
	height: 0;
    padding-bottom: 4%;
	border-radius: 100%;
	margin-left: 28%;
	float: left;
	
	
}
.fname{
	margin-top: 2px;
	width: 20%;
	height: 10px;
	margin-left: 18%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	
	
}
.fname2{
	margin-top: 2px;
	width: 20%;
	height: 10px;
	margin-left: 2%;
	float: left;
}
.qcircle{
	width: 4%;
	height: 0;
    padding-bottom: 4%;
    border-radius: 100px 0 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #8EE4AF;
	transition: width 2s, height 2s;
}

.qcircle:hover {
	width: 100vw;
	height: 100vh;

}
