@charset "utf-8";
body { background-color: #5CDB95;
	  font-family: "Verdana", Geneva, sans-serif;
	  margin: 0;
	  color: #EDF5D1;
	 overflow-x:hidden;
 }
.nav {
	width: 100%;
	position: sticky;
    top: 0;
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #05386B;
	width: 100%;
	background-color: #8EE4AF;
	display: block;
	height: 55px;
}

a:link {
	color: #05386B;
}
.nav a {
	float: left;
	padding: 1% 5% 1% 5%;
	text-decoration: none;
}
.nav a:hover {
	background-color: yellow;
}
button, .boop {
	color: #05386B;
	font-size: 15px;
	border: none;
	outline: none;
	padding: 10px 15px 9px 25px;
	margin: 0;
	background-color: #8EE4AF;
}
.boop {
	float: right;
	overflow: hidden;
}
.boop:hover .secret {
	display: block;
}
.secret {
	top: 53px;
	display: none;
	position: absolute;
	background-color: #91FFEF;
	z-index: 1;
	padding: 5px 15px;
	float: left;
}
.secret a {
	padding: 10px 15px 10px 15px;
	text-decoration: none;
	display: block;
}
.pic {
	height: 25px;
	padding: 0px 0px 0px 0px;
}
.monitor{
	width: 450px;
	height: 450px;
	padding: 2.5%;
	border: 5px solid  #05386B;
	margin: auto;
	margin-top: 30px;
}
.screen1{
    width: 422.5px;
    height: 380px;
    border: 1px solid black;
    float: top;
    opacity: 0;
    position: relative;
    bottom: 1000%;
    right: 3.5%;
    font-size: 15px;
	text-align: justify;
	font-family: "Amiko";
}
.screen2{
    width: 422.5px;
    height: 380px;
    border: 1px solid black;
    float: top;
    opacity: 0;
    position: relative;
    bottom: 1000%;
    right: 124.5%;
    font-size: 15px;
	text-align: justify;
	font-family: "Amiko";
}
.screen3{
    width: 422.5px;
    height: 380px;
    border: 1px solid black;
    float: top;
    opacity: 0;
    position: relative;
    bottom: 1000%;
    right: 245.5%;
    font-size: 15px;
	text-align: justify;
	font-family: "Amiko";
}
.screen4{
    width: 422.5px;
    height: 380px;
    border: 1px solid black;
    float: top;
    opacity: 0;
    position: relative;
    bottom: 1000%;
    right: 366.5%;
    font-size: 15px;
	text-align: justify;
	font-family: "Amiko";
}
.cover{height:383px ;
	width:422.6px ;
	padding:0;
	z-index: 10;
	opacity: 0;
	background-color:#5CDB95;
	position: relative;
	top: 0.8%;
	left:0.9%; }



.cover:hover{opacity:1;}
.button1:hover .screen1{    
	filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opactiy .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.button1{
	border-radius: 25px;
	margin-left: 3.5%;
	margin-top: 5%;
	width: 20%;
	height: 40px;
	float: left;
	background-color: #379683;
}

.button2:hover .screen2{    
	filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opactiy .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.button2{
	border-radius: 25px;
	margin-left: 3.5%;
	margin-top: 5%;
	width: 20%;
	height: 40px;
	float: left;
	background-color: #379683;
}

.button3:hover .screen3{    
	filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opactiy .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.button3{
	border-radius: 25px;
	margin-left: 3.5%;
	margin-top: 5%;
	width: 20%;
	height: 40px;
	float: left;
	background-color: #379683;
}

.button4:hover .screen4{    
	filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opactiy .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}
.button4{
	border-radius: 25px;
	margin-left: 3.5%;
	margin-top: 5%;
	width: 20%;
	height: 40px;
	float: left;
	background-color: #379683;
}

.content{
	height.: 500px;
	margin-top:20px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	line-height: 30px;
	background-color:#379683;
}

.contentitle{
	font-size: 25px;
	text-align:center;
	font-weight: bold;
}

.contentdata{
	font-size: 18px;
	text-align: center;
	font-style: italic; 
}
#icon{object-fit: contain;
	width: 100%;}
footer{
	position: relative;
	bottom: 0;
    height: 150px;
    width: 100%;
    padding-left: 0.15%;
    padding-right: 0.15%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px;
    background-color: #314269;

}
.footertitle{
	width: 50%;
	height: 35px;
	margin: auto;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: #EDF5D1;

}
.ficontainer{
	
	
	margin: auto;
	width: 70%;
	height: 50px;
	padding: 20px;
	
	
}
.ficon{
	
	
	margin: auto;
	width: 4%;
	height: 0;
    padding-bottom: 4%;
	border-radius: 100%;
	margin-left: 16%;
	float: left;
	
	
}
.ficon2{

	
	width: 4%;
	height: 0;
    padding-bottom: 4%;
	border-radius: 100%;
	margin-left: 28%;
	float: left;
	
	
}
.fname{
	margin-top: 2px;
	width: 20%;
	height: 10px;
	margin-left: 18%;
	float: left;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	
	
}
.fname2{
	margin-top: 2px;
	width: 20%;
	height: 10px;
	margin-left: 2%;
	float: left;
}
.qcircle{
	width: 4%;
	height: 0;
    padding-bottom: 4%;
    border-radius: 100px 0 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #8EE4AF;
	transition: width 2s, height 2s;
}

.qcircle:hover {
	width: 8%;
	height: 8%;

}
