@charset "utf-8";
html{height: 100%;}
body{min-height: 100%;}
nav{border: 1px solid black;
	height: 77px;
	padding-left: 0.15%;
	padding-right: 0.15%;
	padding-top: 25px;
	padding-bottom: 25px;
	width: auto;
}
.nav.nav2.nav3{width: 18%;
	height: 40px;
	margin-top: 17.5px;
	line-height: 65px;
	
}
.nav.nav2{

	border-radius: 25px;
	border: 1px solid black;
	margin-left: 5.6%;
	width: 15%;}
.nav{height: 75px;
	border: 1px solid black;
	margin-left: 2.5%;
	float: left;
	width: 30%;
	line-height: 100px;
	vertical-align: middle;}
.content{padding-top: 40px;
padding-bottom: 20px;
	overflow: auto;
}
.container{padding-top: 30px;
padding-bottom: 30px;
height: auto;
overflow: auto;}
.headers{border: 1px solid black;
	height: 100px;
	margin: auto;
	width: 40.4%;}
.pics{border: 1px solid black;
	margin-bottom: 15px;
width: 25%;
height: 350px;
margin-top: 20px;
margin-left: 7%;
float: left;}
.text{border: 1px solid black;
	margin-bottom: 15px;
width: 25%;
height: 350px;
margin-top: 20px;
margin-left: 7%;
float: left;}
.dropdown{border: 1px solid black;
	margin-bottom: 15px;
width: 25%;
height: 350px;
margin-top: 20px;
margin-left: 7%;
float: left;}
.mainimg{border: 1px solid black;
width: 52.03%;
height: 500px;
	
margin: auto;
margin-top: 50px;}
.maintxt{border: 1px solid black;
width: 60.3%;
height: 500px;

margin: auto;
margin-top: 50px;}

footer{
    border: 1px solid black;
    position: relative;
    bottom: 0px;
    width: 100%;
    padding-left: 0.15%;
    padding-right: 0.15%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 20px;
    ;
    left: 0px;

}
.footertitle{
	width: 50%;
	height: 35px;
	margin: auto;
	border: 1px solid black;
}
.ficontainer{
	
	border: 1px solid black;
	margin: auto;
	width: 70%;
	height: 50px;
	padding: 20px;
	
	
}
.ficon{
	
	border: 1px solid black;
	margin: auto;
	width: 4%;
	height: 0;
    padding-bottom: 4%;
	border-radius: 100%;
	margin-left: 17%;
	float: left;
	
	
}
.ficon2{

	border: 1px solid black;
	width: 4%;
	height: 0;
    padding-bottom: 4%;
	border-radius: 100%;
	margin-left: 28%;
	float: left;
	
	
}
.fname{
margin-top: 2px;
	border: 1px solid black;
	width: 20%;
	height: 10px;
	margin-left: 18%;
	float: left;

	
	
}
.fname2{
	margin-top: 2px;
	border: 1px solid black;
	width: 20%;
	height: 10px;
	margin-left: 2%;
	float: left;
}
.qcircle{
	
	border: 1px solid black;
	width: 4%;
	height: 0;
    padding-bottom: 4%;
    border-radius: 100px 0 0 0;
	position: absolute;
	bottom: 0;
	right: 0;
	
	
}
